{% extends "base.html" %}
{% block title %} Order Mains {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        li a:hover:not(.Main) {
          background-color: #ddd;
        }

        li a.Main {
          color: white;
          background-color: #DC143C;
        }

    </style>

{% endblock %}
{% block content %}
<br>
<h1 align = center> Order Mains </h1>
<form id = "amount" method = "POST" align = "center">
<table align = "center" id = "ord">
    <tr>
        <th>Main</th>
        <th>Ingredients</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>


    <tr>
        <td>Rahooger Burger</td>
        <td>{{burger.getIngredients}}</td>
        <td>{{burger.price}}</td>
        <td><input type="number" name= "burger" value = "0"
        min="0" max="15"> </td>
    </tr>
    <tr>
        <td>Rahooger Wrap</td>
        <td>{{wrap.getIngredients}}</td>
        <td>{{wrap.price}}</td>
        <td><input type="number" name= "wrap" value = "0"
        min="0" max="15"> </td>
    </tr>
</table>
<br>
<input type = "submit" class = "button" value = "Add to Order">
</form>
{% endblock %}
