{% extends "inventory_base.html" %}
{% block title %} Staff Portal {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        li a:hover:not(.Staff) {
          background-color: #ddd;
        }

        li a.Staff {
          color: white;
          background-color: #DC143C;
        }
    </style>

{% endblock %}
{% block content %}
    <br><br>
    <div align = "center">
        <h1>Order Id: {{order._id}}</h1>
        <h3>Made on {{order._time}}</h3>
        <h3>Status : {{order._status}}</h3>
        <table align = "center" id = "ord">
            <tr>
                <th>Items</th>
                <th>Ingredients (for mains)</th>
            </tr>
            {% if(order._order._mains != None) %}
                {% for burger in order._order._mains._burgers %}
                    <tr>
                        <th>{{burger._amount}}x Burger</th>
                        <th>{{burger.getIngredients}}</th>
                    </tr>
                    {% endfor %}
                    {% for wrap in order._order._mains._wraps %}
                    <tr>
                        <th>{{wrap._amount}}x Wrap</th>
                        <th>{{wrap.getIngredients}}</th>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if(order._order._sides != None) %}
                {% for side in order._order._sides._sides %}
                <tr>
                    <th colspan = 2>{{side._amount}}x {{side._name}}</th>
                </tr>
                {% endfor %}
            {% endif %}
            {% if(order._drinks != None) %}

                {% for drink in order._order._drinks._drinks %}
                <tr>
                    <th colspan = 2>{{drink._amount}}x {{drink._name}}</th>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        <form id = "update" method = "POST">
            <input type = "submit" name = "update" value = "Update Order" class = "button">
            <input type = "submit" name = "delete" value = "Delete Order" class = "button">
        </form>
    </div>
{% endblock %}
