{% extends "base.html" %}
{% block title %} Id - {{order._id}} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        li a:hover:not(.Track) {
          background-color: #ddd;
        }

        li a.Track {
          color: white;
          background-color: #DC143C;
        }

        #ord {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width : 55%
        }

        #ord td, #ord th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align : center;
        }

        #ord th {
            text-align : center;
            background-color : #33ccff;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        #ord input {
            width: 75%;
        }
        #ord tr:nth-child(even){background-color: #f2f2f2;}
        #ord tr:hover {background-color: #ddd;}

    </style>

{% endblock %}
{% block content %}
<div align = "center">
    <h1>Order Id: {{order._id}}</h1>
    <h3>Made on {{order._time}}</h3>
    <h3>Status : {{order._status}}</h3>
    <table align = "center" id = "ord">
        <tr>
            <th>Items</th>
            <th>Ingredients (for mains)</th>
        </tr>
        {% if(order._order._mains != None) %}
            {% for burger in order._order._mains._burgers %}
            <tr>
                <th>{{burger._amount}}x Burger</th>
                <th>{{burger.getIngredients}}</th>
            </tr>
            {% endfor %}
            {% for wrap in order._order._mains._wraps %}
            <tr>
                <th>{{wrap._amount}}x Wrap</th>
                <th>{{wrap.getIngredients}}</th>
            </tr>
            {% endfor %}
        {% endif %}
        {% if(order._order._sides != None) %}
            {% for side in order._order._sides._sides %}
            <tr>
                <th colspan = 2>{{side._amount}}x {{side._name}}</th>
            </tr>
            {% endfor %}
        {% endif %}
        {% if(order._drinks != None) %}

            {% for drink in order._order._drinks._drinks %}
            <tr>
                <th colspan = 2>{{drink._amount}}x {{drink._name}}</th>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
