{% extends "inventory_base.html" %}
{% block title %} Wrap Inventory {% endblock %}
{% block head %}
    {{ super() }}

    <style type="text/css">
        li a:hover:not(.Wrap_Ingredients_Inventory) {
          background-color: #ddd;
        }

        li a.Wrap_Ingredients_Inventory {
          color: white;
          background-color: #DC143C;
        }
    </style>
</head>
{% endblock %}
{% block content %}

    <br>
    <h1 align = center> Wrap Inventory </h1>
    <form id = "amount" method = "POST" align = "center">
        <table align = "center" id = "ord">
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>To Increment</th>
            </tr>

            {% for ingredient in inventory %}
                <tr>
                    <td>{{ ingredient._name }}</td>
                    <td>{{ ingredient._amount }}</td>
                    <td><input type="number" name= "{{ ingredient._name }}" value = "0"
                    min="0" max="1000"> </td>
                </tr>
            {% endfor %}
        </table>

        <input type = "submit" class = "button" value = "Increase Inventory">
        </form>
{% endblock %}
