{% extends "layout.html" %}
{% block content %}
    <h1>
        Inventory
    </h1>

    <Form align="centre" method="POST">
        <div class="form-group">
            {% for post in posts %}
                <p>
                    {{ post._name }} x {{ post._amount }}
                    <input type="text" placeholder="Amount to add to stock" name="amount">
                    <button type="submit" name="cod" value="Add" class="btn btn-primary">Add</button>
                </p>
            {% endfor %}
        </div>
    </Form>
{% endblock content %}
